body {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 75%;
    min-width: 1000px;
    max-width: 1200px;
}

.thumbnail .caption {
    padding: 0 10px 15px 20px;
}

.container-none {
    width: 100%;
}

.header {
    margin-top: 30px;
}

h1 {
    font-size: 46px;
}

h4,
.tooltip {
    font-size: 24px;
}

.row {
    margin: 0 10px;
}

.section {
    margin: 0 0 100px 0;
    min-height: 300px;
}

.dim-on-hover {
    cursor: pointer;
    transform: scale( 1);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.dim-on-hover:hover {
    transform: scale( 1.05);
    box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -webkit-box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -moz-box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
}

.section-title-bar {
    border-radius: 7px;
    padding: 15px 0;
    margin-bottom: 25px;
}

.main-title {
    margin: 250px 0 40px 0;
    font-size: 32px;
}

.sub-title {
    font-size: 26px;
}

.sub-title2 {
    font-size: 18px;
}

.thumbnail {
    box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -webkit-box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -moz-box-shadow: 4px 6px 17px 0 rgba(186, 184, 186, 1);
    padding: 0;
    max-width: 400px;
    margin: 25px 15px;
}

.radius-top {
    border-radius: 4px 4px 0 0;
}

.radius {
    border-radius: 4px;
}

.btn {
    font-family: 'Lato', sans-serif;
    box-shadow: inset 1px 1px 11px -2px rgba(247, 242, 244, 1), 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -webkit-box-shadow: inset 1px 1px 11px -2px rgba(247, 242, 244, 1), 4px 6px 17px 0 rgba(186, 184, 186, 1);
    -moz-box-shadow: inset 1px 1px 11px -2px rgba(247, 242, 244, 1), 4px 6px 17px 0 rgba(186, 184, 186, 1);
}

.btn-default {
    border: none;
}

.btn:active {
    box-shadow: inset 0px 6px 24px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: inset 0px 6px 24px -3px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: inset 0px 6px 24px -3px rgba(0, 0, 0, 0.38);
}

.alt1-button-style {
    background-color: #c45381;
    border: none;
}

.btn.alt1-button-style:active {
    background-color: #e597b5;
}

.alt1-button-style:focus {
    background-color: #c45381;
}

.alt1-button-style:hover {
    background-color: #e597b5;
}

.alt2-button-style {
    background-color: #00a4b9;
    border: none;
}

.btn.alt2-button-style:active {
    background-color: #3cc4d1;
}

.alt2-button-style:focus {
    background-color: #00a4b9;
    border-color: #027784;
}

.alt2-button-style:hover {
    background-color: #3cc4d1;
}

.alt3-button-style {
    background-color: #159670;
    border: none;
}

.btn.alt3-button-style:active {
    background-color: #43ba96;
}

.alt3-button-style:focus {
    background-color: #159670;
}

.alt3-button-style:hover {
    background-color: #43ba96;
}

.hi-lite {
    color: #02b3e4;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer {
    padding-bottom: 75px;
}

.larger-text {
    font-size: 1.4em;
}

.modal-dialog {
    margin: 10px auto;
    max-width: 450px;
}

.modal-title {
    padding: 0 20px;
}

.modal-header, .modal-body {
    padding: 15px 15px 0 15px;
}

.modal-text {
    color: #020202;
    padding: 10px 5px 5px 5px;
    text-transform: none;
    font-size: 1.25em;
}

@media only screen and (max-width: 992px) {
    .container {
        min-width: 768px;
        max-width: 990px;
    }

    h1 {
        font-size: 38px;
    }

    h4,
    .tooltip {
        font-size: 20px;
    }

    .section {
        min-height: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        min-width: 345px;
        max-width: 400px;
    }

    .caption {
        text-align: center;
    }

    .vert-align {
        display: inline-block;
    }

    .portfolio-title {
        text-align: left;
    }

    .section {
        min-height: 0;
    }
}

@media only screen and (max-width: 445px) {
    .section-title {
        font-size: 5.5vw;
    }

    .main-title {
        margin: 60px 0 20px 0;
    }

    .main-image {
        display: none;
    }

    .btn {
        font-size: 11px;
    }
}