
    body {
        padding-top: 80px;
        background-color: #0c0c0c;
        color: #e2dede;
    }

    #trailer .modal-dialog {
        margin-top: 200px;
        width: 640px;
        height: 480px;
    }

    h2 {
        font-size: 20px;
    }

    .hanging-close {
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 9001;
    }

    #trailer-video {
        width: 100%;
        height: 100%;
    }

    .movie-tile {
        margin-bottom: 20px;
        padding-top: 20px;
        width: 25%;
    }

    .movie-tile:hover {
        background-color: #111111;
        color: #e2dede;
        font-weight: 900;
        cursor: pointer;
    }

    .scale-media {
        padding-bottom: 56.25%;
        position: relative;
    }

    .scale-media iframe {
        border: none;
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-color: white;
    }

    #details-container {
        margin: auto;
        padding: 3.75vw;
        width: 90vw;
        background-color: #292929;
    }

    #image-container {
        margin: auto;
        width: 85vw;
    }
    
    .images_style_first_section {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 22vw;
        height: 34vw;
        overflow: hidden;
    }

    .second-section{
      display: inline-block;
      box-sizing: border-box;
    }
    
    .images_style_second_top {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 19.90vw;
        height: 14.73vw;
        overflow: hidden;
    }

    .third-section{
      display: inline-block;
      box-sizing: border-box;
    }
    
    .images_style_second_bottom {
        position: relative;
        width: 40vw;
        height: 19vw;
        overflow: hidden;
    }
    
    .images_style_third_section {
        position: relative;
        width: 20vw;
        height: 17vw;
        overflow: hidden;
    }
    
    .images_style_first_section img,
    .images_style_second_bottom img,
    .images_style_second_top img,
    .images_style_third_section img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .images_style_second_top img.portrait{
        width: auto;
        height: 100%;
    }

    .images_style_second_bottom img.portrait {
        width: 100%;
        height: auto;
    }

    #movie-image-five, #movie-image-six{
      padding-bottom: 2.25px;
    }

    .details-container{
      background-color: #1c1b1b;
    }

    .story-line-container{
      padding: 3vw;
      display: inline-block;
      box-sizing: border-box;
      width: 50vw;
    }

    .details-list_container{
      padding: 3vw;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
    }

    .view-trailer:hover{
      cursor: pointer;
      opacity: 0.3;
      border: 1px solid white;
    }

    .view-trailer{
      float: right; 
      background-color: #2c1b1b; 
      padding: 1.25vw;
    }

    #movie-title{
      font-size: 4vw;
      padding: 1vw 0vw 1vw 0vw
    }

    #story-line{
      font-size: 1.5vw;
    }

    ul {
      font-size: 1.25vw;
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 0 0 1vw 0;
    }
